Repository zivkovicf/devops-infinum-academy: changes, and which pre-commit hooks are due for each by the changed paths.
All: jsonlint, terraform-fmt, terraform-validate, tflint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: jsonlint
        name: JSON lint
        description: Lints json files
        entry: .pre-commit-hooks/jsonlint.sh
        language: script
        files: \.json$
        require_serial: true

      - id: terraform-fmt
        name: Terraform fmt
        description: Rewrites all Terraform configuration files to a canonical format
        entry: .pre-commit-hooks/terraform-fmt.sh
        language: script
        files: \.tf$
        exclude: \.+.terraform\/.*$
        require_serial: true

      - id: terraform-validate
        name: Terraform validate
        description: Validates all Terraform configuration files
        entry: .pre-commit-hooks/terraform-validate.sh
        language: script
        files: \.tf$
        exclude: \.+.terraform\/.*$
        require_serial: true

      - id: tflint
        name: tflint
        description: Linter for Terraform source code
        entry: .pre-commit-hooks/tflint.sh
        language: script
        files: \.tf$
        exclude: \.+.terraform\/.*$

Minor updates on AWS S3 config
  academy_project/app/README.md
  academy_project/app/src/IA.DevOps.Movies.Contracts/Models/AwsS3Settings.cs
  academy_project/app/src/IA.DevOps.Movies.Data.AwsS3/BlobStorageRepository.cs
  academy_project/app/src/IA.DevOps.Movies.Data.AwsS3/Configuration/AwsS3BlobStorageFactory.cs
  academy_project/app/src/IA.DevOps.Movies.Data.AwsS3/Configuration/BucketNames.cs
  academy_project/app/src/IA.DevOps.Movies.Data.AwsS3/MoviesBlobStorageRepository.cs
  academy_project/app/src/IA.DevOps.Movies.Web/Properties/launchSettings.json
Due: jsonlint

Seed only 10 movies
  academy_project/app/src/IA.DevOps.Movies.Data.Db/SeedData/SeedData.cs
Due: none

Fix bucket name
  academy_project/app/README.md
Due: none

Update docs
  academy_project/app/README.md
Due: none

Fix formatting for workflow 03
  .github/workflows/03-docker-security-scan.yml
Due: none

Drawing of architecture
  05-arcitecture/aws-architecture.svg
Due: none

ssh to ec2 terraform
  academy_project/terraform/06-homework/.terraform.lock.hcl
  academy_project/terraform/06-homework/provider.tf
  academy_project/terraform/06-homework/resources.tf
  academy_project/terraform/06-homework/terraform.auto.tfvars
  academy_project/terraform/global/.terraform.lock.hcl
  academy_project/terraform/global/provider.tf
  academy_project/terraform/global/resources.tf
Due: terraform-fmt, terraform-validate, tflint

added rds, initialization script (install docker, aws psql and create application db and user)
  academy_project/terraform/.terraform.lock.hcl
  academy_project/terraform/06-homework/init.sh
  academy_project/terraform/06-homework/provider.tf
  academy_project/terraform/06-homework/resources.tf
Due: terraform-fmt, terraform-validate, tflint

terraform.auto.tfvars
  academy_project/terraform/06-homework/terraform.auto.tfvars
Due: none

Added billing alarm, using data instead of variables, passwords to parameter store
  academy_project/terraform/06-homework/init.sh
  academy_project/terraform/06-homework/resources.tf
  academy_project/terraform/global/resources.tf
Due: terraform-fmt, terraform-validate, tflint

Added s3 resource, updated init.sh to write s3 config params to .env
  academy_project/terraform/06-homework/init.sh
  academy_project/terraform/06-homework/resources.tf
Due: terraform-fmt, terraform-validate, tflint

Answers to questions
  06-terraform/answers.txt
Due: none

Added GHA user to global resources
  academy_project/terraform/global/resources.tf
Due: terraform-fmt, terraform-validate, tflint

s3 bucket as module, rds in subnet group, ecsTaskExecutionPolicy
  .gitignore
  academy_project/terraform/07-homework/.terraform.lock.hcl
  academy_project/terraform/07-homework/main.tf
  academy_project/terraform/07-homework/provider.tf
  academy_project/terraform/07-homework/rds/.terraform.lock.hcl
  academy_project/terraform/07-homework/rds/main.tf
  academy_project/terraform/07-homework/rds/outputs.tf
  academy_project/terraform/07-homework/rds/variables.tf
  academy_project/terraform/07-homework/s3/.terraform.lock.hcl
  academy_project/terraform/07-homework/s3/main.tf
  academy_project/terraform/07-homework/s3/outputs.tf
  academy_project/terraform/07-homework/s3/variables.tf
  academy_project/terraform/07-homework/vpc/.terraform.lock.hcl
  academy_project/terraform/07-homework/vpc/main.tf
  academy_project/terraform/07-homework/vpc/outputs.tf
  academy_project/terraform/07-homework/vpc/variables.tf
  academy_project/terraform/global/resources.tf
Due: terraform-fmt, terraform-validate, tflint

ECS cluster, service, lb, tg, security group ...
  academy_project/terraform/07-homework/main.tf
  academy_project/terraform/07-homework/provider.tf
  academy_project/terraform/07-homework/rds/main.tf
  academy_project/terraform/07-homework/rds/outputs.tf
  academy_project/terraform/07-homework/s3/main.tf
  academy_project/terraform/global/resources.tf
Due: terraform-fmt, terraform-validate, tflint

Removed dependency on rds, simplified subnets on lb
  academy_project/terraform/07-homework/main.tf
Due: terraform-fmt, terraform-validate, tflint

Use jsonencode instead of spcifying definition as string
  academy_project/terraform/07-homework/main.tf
Due: terraform-fmt, terraform-validate, tflint

Added lb_sg
  academy_project/terraform/07-homework/main.tf
Due: terraform-fmt, terraform-validate, tflint

Removed egress rule that is default
  academy_project/terraform/07-homework/main.tf
Due: terraform-fmt, terraform-validate, tflint

returned egress for sg - causing error on application
  academy_project/terraform/07-homework/main.tf
Due: terraform-fmt, terraform-validate, tflint

Changes in VPC module
  academy_project/terraform/07-homework/vpc/main.tf
Due: terraform-fmt, terraform-validate, tflint
